<h3>Examples:</h3>
<ul>
  <li>
    <LinkTo @route="defer">
      Async button example
    </LinkTo>
  </li>

  <li>
    <LinkTo @route="default">
      Loading data example
    </LinkTo>
  </li>

  <li>
    <LinkTo @route="with-getter">
      Loading data with dynamic params
    </LinkTo>
  </li>
</ul>